{
    "mysql":{
        "host":"127.0.0.1",
        "user":"dbuser",
        "passwd":"dbpass",
        "dbname":"dbname",
        "pool_num":10
    },
    "http":{
        "port":12345,
        "thread_num":10
    },
    "https":{
        "port":12355,
        "thread_num":10,
        "cert_path":"/tmp/cert/server.crt",
        "certkey_path":"/tmp/cert/server.key"
    }
}
